<%- include('./partials/header.ejs') %>
<!-- prettier-ignore -->
<%# All values assign to locals %>
    <%# locals = {} %>
    <% if (locals.user) { %>
<h2>Hello, <%= user.name %>!</h2>
<% } else { %>
<h2>Hello, Guest!</h2>
<% } %>
<pre><%= date %></pre>
<ul>
  <% items.forEach(i => { %>
  <li><%= i %></li>
  <% }) %>
</ul>
<%- include('./partials/footer.ejs') %>
